<section class="contact">
  <div class="contact-box">    
    <div class="bio-square">
      <h2>I'd love to hear from you!</h2>
      <p>send me a message and let me know what you think, I always like sharing and talking about new ideas!</p>
    </div>
    <div class="contact-form">
      <form action="/incoming" method="post">
        <input type="text" id="name" placeholder="Name First/Last" name="name">
        <input type="text" id="email" placeholder="Email" name="email">
        <textarea name="message" placeholder="Holla" id="" cols="20" rows="4"></textarea>
        <input type="submit" id="submit" class="btn" value="Lets Talk">
      </form>
    </div>
  </div>
</section>