
<footer>
  <div class="footer">
<div class="footer-links-one">
  <p>Nav</p>
    <div class="footer-link">
      <a href="#"></a>
    </div>
    <div class="footer-link">
      <a href="#">projects</a>
    </div>
    <div class="footer-link">
      <a href="#">about</a>
    </div>
    <div class="footer-link">
      <a href="#">contact</a>
    </div>
  </div>
  <div class="footer-links-one">
    <p>Social</p>
      <div class="footer-link">
        <a href="#"></a>
      </div>
      <div class="footer-link">
        <a href="#">twitter</a>
      </div>
      <div class="footer-link">
        <a href="#">instagram</a>
      </div>
      <div class="footer-link">
        <a href="#">facebook</a>
      </div>
    </div>
  </div>
  <p>villicana inc. all rights reserved 20-forever</p>
</footer>
<script src="js/carousel.js" async defer></script>
</body>
</html>