
<footer>
  <div class="footer">
<div class="footer-links-one">
  <p>Nav</p>
    <div class="footer-link">
      <a href="#"></a>
    </div>
    <div class="footer-link">
      <a href="#">projects</a>
    </div>
    <div class="footer-link">
      <a href="#">about</a>
    </div>
    <div class="footer-link">
      <a href="#">contact</a>
    </div>
  </div>
  <div class="footer-links-one">
    <p>Account</p>
      <div class="footer-link">
        <a href="/login">Login</a>
      </div>
      <div class="footer-link">
        <a href="/logout">Logout</a>
      </div>
     
    </div>
  </div>
  <p>villicana inc. all rights reserved 20-forever</p>
</footer>


  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset:200,
      duration:800
    });
  </script>
  <script src="js/carouseldos.js"></script>
</body>
</html>