<nav class="navbar">
  <div class="logo">Shawty</div>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/#projects">Projects</a>
    <a href="/#about">About</a>
    <a href="contact">Contact</a>
  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>