<nav class="navbar">
  <div class="logo"><a href="/"><img src="/svg/theotherlogo.svg" alt="create"  height="40" width="90"></a></div>
  <div class="nav-links">    
    <a href="/#projects">projects</a>
    <a href="/#about">about</a>
    <a href="contact">contact</a>
  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>