<% include partials/header %>
<section class="header-con">
  <% include partials/nav %>
  <div class="pip2">     
    <div class="void">
      <h1>Get In Touch!</h1>
      <p>and a pinch of subtitle for pizzaz.<p>
      <div class="form">
        <form action="/incoming" method="post">
          <input type="text" placeholder="Name First/Last" name="name">
          <input type="text" placeholder="Email" name="email">
          <textarea name="message" placeholder="Hollaa"></textarea>
          <input id='submit'  type="submit" value="Send It!">
        </form>
      </div>
    </div>
      <div class="void2">
      <div class="info">
        <h3>Victor Uribe-Villicana</h3>
        <p>818-389-9570</p>
        <p>Email:</p>
        <h4>Victor_u9@msn.com</h4>
      </div>
    </div>    
  </div>
</section>
<% include partials/footer %>