<% include partials/header %>
<header class="header">
  <% include partials/nav %>  
  <div class="pip">
    <div class="hero-box">
      <div>
          <h1>V<br/>Villicana</h1>
          <p>Front-End Developer</p>
      </div>
    </div>
  </div>  
</header>
<section class="about-me">
  <div class="bio">
    <div class="bio-square">
      <p>about me &mdash;</p>
      <h2>
         some fancy words too add pazaz yeah!
      </h2>
      <p>
        Fugiat exercitation tempor ex mollit pariatur excepteur do ut. Velit ea anim et ipsum consequat nostrud cillum mollit aliqua aliquip qui anim aliquip. Aute est occaecat voluptate consequat.Quis proident do eu ut officia qui nisi voluptate magna ea.Cupidatat excepteur dolore Lorem irure.
      </p>
      <div class="specialty">
        <h2>my Specialty</h2>
        <p>
            Non laboris magna pariatur id. Ullamco nisi eiusmod sunt in laboris laboris in do laboris veniam mollit. Velit ullamco veniam id elit sit exercitation. Nulla enim esse amet esse excepteur.Veniam dolor culpa in est aliqua irure esse aute amet pariatur.Irure cillum excepteur nisi anim consectetur ullamco sit dolore sint ut cupidatat id dolore cillum.
        </p>
      <div class="btn"><a href="#">Contact</a></div>
      </div>      
    </div>
  </div>
  <div class="picture"></div>  
  </div>
</section>
<section class="skill-section">
  <div class="skills">
    <div class="skills-menu">
      <h3>My Skills & Knowledge</h3>
      <p>Nisi nostrud nulla do tempor esse aliqua aliquip nostrud eu ea commodo.Id do amet ut Lorem exercitation do est voluptate irure quis nostrud sunt ad.</p>
      <ul class="list">
          <li>javascript</li>
          <li>jquery</li>
          <li>gulp</li>
          <li>node.js</li>
          <li>express</li>
          <li>Mongo DB</li>
          <li>big O notation</li>
          <li>responsive web design</li>      
      </ul>
      <h3>Tools</h3>
      <p>
        Cillum irure amet culpa Lorem ea sint dolor. Laboris laboris excepteur esse aliqua incididunt.
      </p>
      <ul class="list">
        <li>Git</li>
        <li>VS Code</li>
        <li>Adobe XD</li>
        <li>Chrome dev tools</li>
      </ul>
      </div>
  </div>    
</section>
<div class="spacer"></div>
<!--<section class="slider-section">
  <div class="title">
    <p>projects</p>
    <h1>Current Work</h1>
  </div>
  <div class="image-slider-wrapper">
    <div class="image-slider" data-target="image-slider">
      <div class="image-slide" data-target="image-slide">
        <div class="one"></div>
      </div>
      <div class="image-slide" data-target="image-slide">
        <div class="two"></div>
      </div>
      <div class="image-slide" data-target="image-slide">
        <div class="three"></div>
      </div>
    </div>
  </div>
  <div class="heading-slider-wrapper">
    <div class="heading-slider" data-target="heading-slider">
      <div class="heading-slide"><h1>Project Tipsy</h1></div>
      <div class="heading-slide"><h1>Project Dzul</h1></div>
      <div class="heading-slide"><h1>Project Create</h1></div>
    </div>
  </div>
  <div class="slide-control">
    <div class="control-box">
        <button data-action="slideLeft" id="prev"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <button data-action="slideRight" id="next"><ion-icon name="arrow-dropright"></ion-icon></button>
    </div>        
  </div>
  <div class="text-slider-wrapper">
    <div class="text-slider" data-target="text-slider">
      <div class="text-slide" data-target="text-slide">
          <div class="slide-container">
            <p>projects &mdash;</p>
            <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Ex laborum reprehenderit in veniam pariatur sit anim consequat.</p>
            <p>Id commodo nulla ex enim pariatur aliquip pariatur amet nostrud ullamco id. Et qui cillum Lorem consectetur occaecat laborum labore minim ullamco cupidatat id culpa tempor non. Amet veniam cupidatat aliqua dolor pariatur sunt Lorem tempor officia fugiat velit officia.</p>
            <div class="btn"><a href="#">View Project</a></div>
          </div>
      </div>
      <div class="text-slide" data-target="text-slide">
          <div class="slide-container">
            <p>projects &mdash;</p>
            <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Labore enim est ipsum aliqua reprehenderit proident occaecat labore ipsum tempor.</p>
            <p> irure adipisicing culpa irure exercitation do. Ad laboris qui exercitation ad Lorem minim cupidatat amet consequat. Ea laboris in et cillum fugiat. Mollit adipisicing occaecat minim magna anim mollit ad voluptate sit excepteur nulla dolor est. </p>
            <div class="btn"><a href="#">View Project</a></div>
          </div>
      </div>
      <div class="text-slide" data-target="text-slide">
          <div class="slide-container">
            <p>projects &mdash;</p>
            <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
            </p>
            <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
            </p>
            <div class="btn"><a href="#">View Project</a></div>
          </div>
      </div>
    </div>
  </div>
</section>-->
<section class="the-slider">
  <div class="title">
    <p>projects</p>
    <h1>Current Work</h1>
  </div>
  <div class="slider">
    <div class="slide current">
      <div class="content">
        <h2>Slide One</h2>
        <p>projects &mdash;</p>
        <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
        </p>
        <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
        </p>
        <div class="btn"><a href="#">View Project</a></div>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h2>Slide Two</h2>
        <p>projects &mdash;</p>
        <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
        </p>
        <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
        </p>
        <div class="btn"><a href="#">View Project</a></div>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h2>Slide Three</h2>
        <p>projects &mdash;</p>
        <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
        </p>
        <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
        </p>
        <div class="btn"><a href="#">View Project</a></div>
      </div>
    </div>
    
  </div>
  <div class="buttons">
      <button id="pre"><ion-icon name="arrow-dropleft"></ion-icon></button>
      <button id="nex"><ion-icon name="arrow-dropright"></ion-icon></button>
    </div>
</section>
<div class="spacer"></div>
<section class="reach-me">
  <div class="title">
    <p>projects</p>
    <h1>Profiles</h1>
  </div>
  <div class="portfolio-container">
    <div class="gitbox">
      <div class="gitpic"></div>
      <h3>gitHub</h3>
      <p>peep out my code!</p>
      <div class="btn proj"><a href="#">View Github</a></div>
    </div>
    <div class="dribbox">
      <div class="dribpic"></div>
      <h3>Dribble</h3>
      <p>see what im up too on here!</p>
      <div class="btn proj"><a href="#">View Dribble</a></div>
    </div>
  </div>  
  <div class="slider-p">
    <h2>Wubbalubbadubduuub! wel thats it!</h2>
    <p>Laborum pariatur aliquip incididunt in officia sit.Veniam commodo deserunt magna irure duis voluptate eiusmod irure proident laboris veniam officia sunt.</p>
  </div>
</section>

<section class="contact">
  <div class="contact-box">
    <div class="bio-square">
      <h2>I'd love to hear from you!</h2>
      <p>send me a message and let me know what you think, I always like sharing and talking about new ideas!</p>
    </div>
    <div class="contact-form">
      <form action="#" method="post">
        <input type="text" id="name" placeholder="Name First/Last" name="name">
        <input type="text" id="email" placeholder="Email" name="email">
        <input type="submit" id="submit" class="btn" value="Lets Talk">
      </form>
    </div>
  </div>
</section>
<% include partials/footer %>
