<% include partials/header %>
<header class="header">
  <% include partials/nav %>  
  <div class="pip" >
    <div class="hero-box" data-aos="flip-down">
      <div>
          <h1>victor<br/>Uribe</h1>
          <p>Web Developer</p>
      </div>
    </div>
  </div>  
</header>
<section class="the-slider" id="projects">
  <div class="title">
    
    <h2>Current Projects &mdash;</h2>
  </div>
  <div class="slider" data-aos="fade-up">
    <div class="slide current">
      <div class="content">
        <h2>Juicy Juize Tacos</h2>
        <h2>&mdash;</h2>
        <p>Juicy Juize Tacos is a catering service and pop-up food
           stand that primarily serves Los Angeles and the San Fernando 
           Valley. This project primarily focuses on the food stand and 
           how to make ordering faster, easier, more stream-lined.
        </p>
        
        <div class="btn"><a href="projectjuicy">View Project</a></div>
      </div>
    </div> 
    <div class="slide">
      <div class="content" >
        <h2>Tipsy Bar</h2>
        <h2>&mdash;</h2>
        <p>
          For this project, I took on the task of building a website for a local bartending 
          service in los Angeles. The Tipsy Bar needed a website that represents the fun, 
          out going nature of the brand while also giving prospective clients an idea of 
          what the company brings to the table.
        </p>         
        <div class="btn"><a href="projectipsy">View Project</a></div>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h2>Dzul Tailoring</h2>
        <h2>&mdash;</h2>
        <p>Dzul Tailoring is a mobile tailoring service that primarily serves Los Angeles and the San Fernando  Valley. To build an effective web experience for customers and the business itself i have to make sure setting appointments and odring products is simple and effective.
        </p>
        
        <div class="btn"><a href="projectdzul">View Project</a></div>
      </div>
    </div>
    
    
  </div>
  <div class="buttons">
      <div class="butt" id="pre">
        <img  src="/svg/ionicons-arrow-dropleft.svg" alt="arrow pointing left" height="75" width="75">
      </div>
      <div class="butt" id="nex">
        <img src="/svg/ionicons-arrow-dropright.svg" alt="arrow pointing left" height="75" width="75">
      </div>
  </div>
</section>
<section class="about-me" id="about">
  <div class="picture" ></div>
  <div class="bio" >
    <div class="bio-square" data-aos="fade-up">
      <p>about me &mdash;</p>
      <h2>
         Greetings!
      </h2>
      <p>
        I'm Victor, a front/back-end developer and Cloud Architect 
        from Los Angeles and I love having the power to create robust 
        yet simple apps that can become a game changer for local 
        small businesses. Building UI's in React, handling user data 
        with Node, deploying applications to AWS and the occasional 
        static website are some of the ways I like to help people 
        and small businesses achieve thier goals. 
      </p>
      <div class="specialty">
        <h2>Whats my end goal?</h2>
        <p>
          Capturing the users attention, while staying true to 
          the brand and the nature of the clients identity is 
          one of my core standards when building websites. 
          Endless cups of Premium Japanese Green Tea is also 
          a standard part of my process. 
          </br>
          <img src="img/aws-certified-solutions-architect-associate.png" alt="AWS Certified" class="certified">
        </p>
        
      <div class="btn"><a href="#profile">Contact</a></div>
      <div class="btn proj"><a href="/#projects">View Projects</a></div>
      </div>      
    </div>
  </div>
    
  
</section>

<div class="spacer"></div>



<section id="profile">
  <div class="head">
    <h2> Lets get in touch!</h2>
  </div>
  <div class="paragraphh">
    <p>
      Everything is better when we work together.
    </p>
  </div>
  <div class="portfolio-container">
    <div class="git" data-aos="flip-up"> 
        <div class="">
        <a id="profile-link" href="https://github.com/vic-villicana" target="_blank"><i class="fa fa-github"></i> GitHub</a>
      </div>
    </div>
    <div class="git" data-aos="flip-up"> 
        <div class="">
        <a id="profile-link" href="https://www.linkedin.com/in/victor-uribe-b191a1195/" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
      </div>
    </div>
    <div class="git" data-aos="flip-up"> 
        <div class="">
        <a id="profile-link" href="tel:818-389-9570" target="_blank"><i class="fa fa-mobile"></i> Call Me</a>
      </div>
    </div>
  </div>
</section>
<% include partials/contactpage %>
<% include partials/footer %>
