<% include partials/header %>
<header class="header">
  <% include partials/nav %>  
  <div class="pip">
    <div class="hero-box">
      <div>
          <h1>V<br/>Villicana</h1>
          <p>Front-End Developer</p>
      </div>
    </div>
  </div>  
</header>
<section class="about-me" id="about">
  <div class="bio" >
    <div class="bio-square" data-aos="fade-up">
      <p>about me &mdash;</p>
      <h2>
         Greetings!
      </h2>
      <p>
        I'm Victor Uribe-Villicana, A front-end web developer with Backend development experience in Node.js and I build websites from the ground up!(or front to back, gotta love dev jokes.) Every website I create is built with purpose and made to function. If there is a certain goal you want to meet through your website than look no further!
      </p>
      <div class="specialty">
        <h2>How do I do it?</h2>
        <p>
            As mentioned above every project i undertake is planned and thought out to meet the requirements of not only the client but also to the purpose and overall functionality of the site. Keeping the purpose of the site in mind makes the design and concept phase more effective which allows me to build a website that not only looks good across multiple devices, but also capitalizes on the most important aspects of the site. Capturing the users attention, while staying true to the brand and the nature of the clients identity is one of my core standards when building websites.
        </p>
      <div class="btn"><a href="#">Contact</a></div>
      <div class="btn proj"><a href="#">View Projects</a></div>
      </div>      
    </div>
  </div>
  <div class="picture" ></div>  
  </div>
</section>
<section class="skill-section">
  <div class="skills">
    <div class="skills-menu" data-aos="fade-up">
      <h3>My Skills & Knowledge</h3>
      <p>Nisi nostrud nulla do tempor esse aliqua aliquip nostrud eu ea commodo.Id do amet ut Lorem exercitation do est voluptate irure quis nostrud sunt ad.</p>
      <ul class="list">
          <li>javascript</li>
          <li>jquery</li>
          <li>gulp</li>
          <li>node.js</li>
          <li>express</li>
          <li>Mongo DB</li>
          <li>big O notation</li>
          <li>responsive web design</li>      
      </ul>
      <h3>Tools</h3>
      <p>
        The use of these tools is essential to the development and production of any web application I undertake
      </p>
      <ul class="list">
        <li>Git</li>
        <li>VS Code</li>
        <li>Adobe XD</li>
        <li>Chrome dev tools</li>
      </ul>
      </div>
  </div>    
</section>
<div class="spacer"></div>

<section class="the-slider" id="projects">
  <div class="title">
    <p>projects &mdash;</p>
    <h1>Current Work</h1>
  </div>
  <div class="slider" data-aos="fade-up">
    <div class="slide current">
      <div class="content" >
        <h2>Project: Tipsy Bar</h2>
        <h1>&mdash;</h1>
        <p>
          For this real live project, I took on the task of building a website for a local bartending service in los Angeles. The Tipsy Bar needed a website that not only represents the fun, out going nature of the brand but also gives prospective clients a sneak peak of what the company brings to the table.
          <p>&nbsp;</p>
          Let's jump inside and see how i made that happen!
        </p>
        <div class="btn"><a href="projectthree">View Project</a></div>
      </div>
    </div> 
    <div class="slide">
      <div class="content">
        <h2>Project:Dzul Tailoring</h2>
        <p>projects &mdash;</p>
        <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
        </p>
        <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
        </p>
        <div class="btn"><a href="projectdzul">View Project</a></div>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h2>projectthree</h2>
        <p>projects &mdash;</p>
        <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
        </p>
        <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
        </p>
        <div class="btn"><a href="projectthree">View Project</a></div>
      </div>
    </div>
    
  </div>
  <div class="buttons">
      <div id="pre">
        <img src="/svg/ionicons-arrow-dropleft.svg" alt="" height="75" width="75">
      </div>
      <div id="nex">
        <img src="/svg/ionicons-arrow-dropright.svg" alt="" height="75" width="75">
      </div>
  </div>
</section>
<div class="spacer"></div>
<section class="reach-me">
  <div class="title">
    <p>projects &mdash;</p>
    <h1>Profiles</h1>
  </div>
  <div class="portfolio-container">
    <div class="gitbox" data-aos="fade-up">
      <img src="svg/ionicons_github.svg"  width="200" height="150" >
      <div class="port-container">
        <h3>gitHub</h3>
        <p>peep out my code!</p>
      </div>      
      <div class="btn proj"><a href="#">View Github</a></div>
    </div>
    <div class="dribbox" data-aos="fade-up">
      <img src="svg/ionicons_dribbble.svg" width="200" height="150" >
      <div class="port-container"  >
        <h3>Dribble</h3>
        <p>see what im up too on here!</p>
      </div>      
      <div class="btn proj"><a href="#">View Dribble</a></div>
    </div>
  </div>  
  <div class="slider-p">
    <h2>Check Out my Work!</h2>
    <p>
       If you want to see my code or any more of my work, I have more links to my other accounts above, feel free to take a peak!
    </p>
  </div>
</section>
<% include partials/contact %>
<% include partials/footer %>
