<% include partials/header %>
<header class="header">
  <% include partials/nav %>  
  <div class="pip">
    <div class="hero-box">
      <div>
          <h1>V<br/>Villicana</h1>
          <p>Front-End Developer</p>
      </div>
    </div>
  </div>  
</header>
<section class="about-me">
  <div class="bio">
    <div class="bio-square">
      <p>about me &mdash;</p>
      <h2>
         some fancy words too add pazaz yeah!
      </h2>
      <p>
        Fugiat exercitation tempor ex mollit pariatur excepteur do ut. Velit ea anim et ipsum consequat nostrud cillum mollit aliqua aliquip qui anim aliquip. Aute est occaecat voluptate consequat.Quis proident do eu ut officia qui nisi voluptate magna ea.Cupidatat excepteur dolore Lorem irure.
      </p>
      <div class="specialty">
        <h2>my Specialty</h2>
        <p>
            Non laboris magna pariatur id. Ullamco nisi eiusmod sunt in laboris laboris in do laboris veniam mollit. Velit ullamco veniam id elit sit exercitation. Nulla enim esse amet esse excepteur.Veniam dolor culpa in est aliqua irure esse aute amet pariatur.Irure cillum excepteur nisi anim consectetur ullamco sit dolore sint ut cupidatat id dolore cillum.
        </p>
      <div class="btn"><a href="#">Contact</a></div>
      </div>      
    </div>
  </div>
  <div class="picture"></div>  
  </div>
</section>
<section class="skill-section">
  <div class="skills">
    <div class="skills-menu">
      <h3>My Skills & Knowledge</h3>
      <p>Nisi nostrud nulla do tempor esse aliqua aliquip nostrud eu ea commodo.Id do amet ut Lorem exercitation do est voluptate irure quis nostrud sunt ad.</p>
      <ul class="list">
          <li>javascript</li>
          <li>jquery</li>
          <li>gulp</li>
          <li>node.js</li>
          <li>express</li>
          <li>Mongo DB</li>
          <li>big O notation</li>
          <li>responsive web design</li>      
      </ul>
      <h3>Tools</h3>
      <p>
        Cillum irure amet culpa Lorem ea sint dolor. Laboris laboris excepteur esse aliqua incididunt.
      </p>
      <ul class="list">
        <li>Git</li>
        <li>VS Code</li>
        <li>Adobe XD</li>
        <li>Chrome dev tools</li>
      </ul>
      </div>
  </div>
    
</section>
<section class="projects">
  <div class="oneq"></div>
  <div class="pro">
    <div class="bio-square">
      <p>projects &mdash;</p>
      <h2>another fancy hadline to get us some attention!</h2>
      <p>Eu culpa irure commodo sunt. Culpa excepteur consequat ea exercitation. Non reprehenderit fugiat nulla non sunt ad pariatur deserunt est nulla officia. Aute aliqua enim dolor irure laborum id magna voluptate irure cupidatat qui nulla. Deserunt dolor labore do magna pariatur irure dolor aute ex minim. Officia sint fugiat est aliqua amet et minim.</p>
      <div class="btn"><a href="#">See more!</a></div>
    </div>
  </div>
</section>
<section class="contact">
  <div class="contact-box">
    <div class="bio-square">
      <h2>I'd love to hear from you!</h2>
      <p>send me a message and let me know what you think, I always like sharing and talking about new ideas!</p>
    </div>
    <div class="contact-form">
      <form action="#" method="post">
        <input type="text" id="name" placeholder="Name First/Last" name="name">
        <input type="text" id="email" placeholder="Email" name="email">
        <input type="submit" id="submit" class="btn" value="Lets Talk">
      </form>
    </div>
  </div>
</section>
<% include partials/footer %>
