<% include partials/header %>
<header class="header">
  <% include partials/nav %>  
  <div class="pip">
    <div class="hero-box">
      <div>
          <h1>V<br/>Villicana</h1>
          <p>Front-End Developer</p>
      </div>
    </div>
  </div>  
</header>
<section class="about-me" id="about">
  <div class="bio" >
    <div class="bio-square" data-aos="fade-up">
      <p>about me &mdash;</p>
      <h2>
         some fancy words too add pazaz yeah!
      </h2>
      <p>
        Fugiat exercitation tempor ex mollit pariatur excepteur do ut. Velit ea anim et ipsum consequat nostrud cillum mollit aliqua aliquip qui anim aliquip. Aute est occaecat voluptate consequat.Quis proident do eu ut officia qui nisi voluptate magna ea.Cupidatat excepteur dolore Lorem irure.
      </p>
      <div class="specialty">
        <h2>my Specialty</h2>
        <p>
            Non laboris magna pariatur id. Ullamco nisi eiusmod sunt in laboris laboris in do laboris veniam mollit. Velit ullamco veniam id elit sit exercitation. Nulla enim esse amet esse excepteur.Veniam dolor culpa in est aliqua irure esse aute amet pariatur.Irure cillum excepteur nisi anim consectetur ullamco sit dolore sint ut cupidatat id dolore cillum.
        </p>
      <div class="btn"><a href="#">Contact</a></div>
      </div>      
    </div>
  </div>
  <div class="picture" ></div>  
  </div>
</section>
<section class="skill-section">
  <div class="skills">
    <div class="skills-menu" data-aos="fade-up">
      <h3>My Skills & Knowledge</h3>
      <p>Nisi nostrud nulla do tempor esse aliqua aliquip nostrud eu ea commodo.Id do amet ut Lorem exercitation do est voluptate irure quis nostrud sunt ad.</p>
      <ul class="list">
          <li>javascript</li>
          <li>jquery</li>
          <li>gulp</li>
          <li>node.js</li>
          <li>express</li>
          <li>Mongo DB</li>
          <li>big O notation</li>
          <li>responsive web design</li>      
      </ul>
      <h3>Tools</h3>
      <p>
        Cillum irure amet culpa Lorem ea sint dolor. Laboris laboris excepteur esse aliqua incididunt.
      </p>
      <ul class="list">
        <li>Git</li>
        <li>VS Code</li>
        <li>Adobe XD</li>
        <li>Chrome dev tools</li>
      </ul>
      </div>
  </div>    
</section>
<div class="spacer"></div>

<section class="the-slider" id="projects">
  <div class="title">
    <p>projects &mdash;</p>
    <h1>Current Work</h1>
  </div>
  <div class="slider" data-aos="fade-left">
    <div class="slide current">
      <div class="content" >
        <h2>Project: Tipsy Bar</h2>
        <p>projects &mdash;</p>
        <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
        </p>
        <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
        </p>
        <div class="btn"><a href="projecttipsy">View Project</a></div>
      </div>
    </div> 
    <div class="slide">
      <div class="content">
        <h2>Project:Dzul Tailoring</h2>
        <p>projects &mdash;</p>
        <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
        </p>
        <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
        </p>
        <div class="btn"><a href="projectdzul">View Project</a></div>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h2>projectthree</h2>
        <p>projects &mdash;</p>
        <p>Deserunt elit dolor ea in amet excepteur fugiat. In cillum nisi ad nulla cillum cupidatat quis ea in eu commodo aliqua.Veniam esse qui aliqua anim.Lorem aliquip eiusmod esse aliquip fugiat dolor laboris reprehenderit cillum cillum.
        </p>
        <p>Sit ea Lorem ullamco sunt nostrud et veniam elit sunt occaecat. Ipsum occaecat velit esse occaecat duis in fugiat duis in. Sunt Lorem ut dolor nisi.Sunt sint sint aute incididunt tempor.
        </p>
        <div class="btn"><a href="projectthree">View Project</a></div>
      </div>
    </div>
    
  </div>
  <div class="buttons">
      <button id="pre"><ion-icon name="arrow-dropleft"></ion-icon></button>
      <button id="nex"><ion-icon name="arrow-dropright"></ion-icon></button>
    </div>
</section>
<div class="spacer"></div>
<section class="reach-me">
  <div class="title">
    <p>projects &mdash;</p>
    <h1>Profiles</h1>
  </div>
  <div class="portfolio-container">
    <div class="gitbox" data-aos="fade-right">
      <div class="gitpic"></div>
      <div class="port-container">
        <h3>gitHub</h3>
        <p>peep out my code!</p>
      </div>      
      <div class="btn proj"><a href="#">View Github</a></div>
    </div>
    <div class="dribbox" data-aos="fade-left">
      <div class="dribpic"></div>
      <div class="port-container">
        <h3>Dribble</h3>
        <p>see what im up too on here!</p>
      </div>      
      <div class="btn proj"><a href="#">View Dribble</a></div>
    </div>
  </div>  
  <div class="slider-p">
    <h2>Wubbalubbadubduuub! wel thats it!</h2>
    <p>Laborum pariatur aliquip incididunt in officia sit.Veniam commodo deserunt magna irure duis voluptate eiusmod irure proident laboris veniam officia sunt.</p>
  </div>
</section>

<section class="contact">
  <div class="contact-box">
    <div class="bio-square">
      <h2>I'd love to hear from you!</h2>
      <p>send me a message and let me know what you think, I always like sharing and talking about new ideas!</p>
    </div>
    <div class="contact-form">
      <form action="/incoming" method="post">
        <input type="text" id="name" placeholder="Name First/Last" name="name">
        <input type="text" id="email" placeholder="Email" name="email">
        <textarea name="message" placeholder="Holla" id="" cols="20" rows="4"></textarea>
        <input type="submit" id="submit" class="btn" value="Lets Talk">
      </form>
    </div>
  </div>
</section>
<% include partials/footer %>
