<% include partials/header %>
<header class="header pro-header">
  <% include partials/nav %>
</header>
<section class="projectos">
  <div class="spacer"></div>
  <div class="title">
    <p>project &mdash;</p>
    <h1>ejs template</h1>
  </div>

  <div class="project-wrapper">

    <div class="pw-one" >

      <div class="box" data-aos="fade-right">    
        <div class="box-p-intro">
          <h1>Ipsum velit aute reprehenderit ut mollit aliquip.Incididunt consectetur elit ipsum quis.</h1>
        </div>        
        <div class="window-one"></div>       
      </div>

      <div class="box" data-aos="fade-right">
        <div class="window-two"></div>
        <h1>Aliquip aliqua anim nulla id nostrud.Do tempor et amet et deserunt magna qui nostrud. </h1>
      </div>

      <div class="box">
        <div class="window-three" data-aos="fade-right"></div>
        <div class="box-p" data-aos="fade-up">
          <p>Phase &mdash; <span>02</span></p>
          <h2>Development</h2>
          <p>
            Commodo cupidatat commodo id cillum veniam. Mollit adipisicing ipsum ad ea mollit ex non ea nulla irure sit cupidatat eiusmod. Velit cillum deserunt aliqua velit qui qui magna veniam id. Excepteur Lorem id Lorem in in laborum. 
          </p>
        </div>        
      </div>

      <div class="box" data-aos="fade-right">
        <div class="window-jfour"></div>
        </div>

    </div>


    <div class="pw-two">
      <div class="box" data-aos="fade-left">
        <div class="window-jfive"></div>
      </div>
      <div class="box">
        <div class="window-six" data-aos="fade-left">
        </div>
        <div class="box-p-one" data-aos="fade-up" >
          <p>phase &mdash; <span>01</span></p>
          <h2>Concept Design</h2>
          <p>
            Commodo cupidatat commodo id cillum veniam. Mollit adipisicing ipsum ad ea mollit ex non ea nulla irure sit cupidatat eiusmod. Velit cillum deserunt aliqua velit qui qui magna veniam id. Excepteur Lorem id Lorem in in laborum. 
          </p>
        </div>        
      </div>
      <div class="box" data-aos="fade-left">
        <div class="window-jseven"></div>
      </div>
      <div class="box">
        <div class="window-eight" data-aos="fade-left"></div>
        <div class="box-p-two" data-aos="fade-up">
          <p>phase &mdash; <span>03</span></p>
          <h2>Production/Deplyoment</h2>
          <p>
            Commodo cupidatat commodo id cillum veniam. Mollit adipisicing ipsum ad ea mollit ex non ea nulla irure sit cupidatat eiusmod. Velit cillum deserunt aliqua velit qui qui magna veniam id. Excepteur Lorem id Lorem in in laborum. 
          </p>
        </div>        
      </div>
  </div>
  </div>
</section>
<div class="spacer"></div>
<% include partials/footer %>