<% include partials/header %>
<header class="header pro-header">
  <% include partials/nav %>
  <div class="hero-box">
    <div>
      <h1>Projects</h1>
      <p id="by">by</p>
      <h1>Villicana</h1>
    </div>
  </div>
</header>

<section class="pro-three">
  <div class="header-two">
    <div class="void v2">
      <h1>Tipsy Bar</h1>
        <p>
          A local bartending service based out of Los Angeles, Tipsy Bar provides open bar services for
          partys and special events. As a service based company they need a website that is able to inform the user about the type of services and experience they provide and while also being able to handle form requests from prospective clients.    
        </p>
        <div class="btn"><a href="#">Website</a></div>
        <div class="btn proj"><a href="#">GitHub</a></div>
    </div> 
  </div>  
</section>
<section class="pro-info">
  <div class="pro-info-container">
    <div class="bio-square bs-2">
      <h2>A Static Mobile First Webpage <br> W/ Template Engine</h2>
      <p>
          Tipsy Bars main focus was to have a website that represented the brand well while also having the ability to process form data. With the main objective being to inform people of the services and handle form requests, this type of website is very straight forward to build, as no user has the need for dynamic content. Even with this in mind I decided to code all of the back-end myself instead relying on a third party.
      </p>
        
    </div>
    <img src="/img/tipsyscreenshot-development.jpg" height="375" width="600">
  </div>
  <div class="pro-info-container respo">    
    <div class="img-container">
      <img src="/img/tipsyscreenshot-development.jpg" alt="" height="160" width="260">
      <img src="/img/tipsyscreenshot-development2.jpg" alt="" height="135" width="210">
      <img src="/img/tipsyscreenshot-design2.jpg" alt="" height="110" width="85">
      <img src="/img/tipsyscreenshot-design.jpg" alt="" height="510" width="285">
  </div>
  <div class="bio-square bs-3">
      <h2>Responsive For Every Device</h2>
      <p>
        One of the most important aspects of web design is being able to design a website to render well on a variety of devices, from the largest desktop screens to the small screens of any smartphone. Responsive design ensures the user has a consistent experience no matter what device they browse on.
      </p>
    </br>
      <p>
        With the emergence of mobile browsing making up more than 50% of all web browsing, I decided to take a mobile first approach instead of the common approach of initially designing for the desktop. The process was a little diffrent considering the compact nature of mobile design so lets see how it all went down.    
      </p>
    </div>
  </div> 
  <div class=section-slider>
      <div class="info-container">
          <div class="bio-square bs-4">
            <h2>Streamlined and To the Point</h2>
            <p>
                Every Project I undertake is unique with its own purpose and goals. Here I highlight a quick break down of the main steps I took to develop the Tipsy Bar website.
            </p>
          </div>
      <div class="slider-info">
        <div class="slide-info currant">
          <div class="content-info">
            <div class="void v2 v22">
              <p>phase &mdash; <span>01</span></p>
                <h1>Initial <br> Concept </h1>
                <p>
                    The concept phase is the same for a majority of my projects. I always start by asking, why? What is the purpose for this site? This is the most crucial step when starting any of my projects.
                    Once I have a definitive idea  of what the website is suppost to do then i move to the next phase.
                </p>          
            </div>
            <div class="img-container-two">
              <img src="/img/tipsyscreenshot-development.jpg" alt="" height="225" width="375"> 
              <div class="img-container-two-c">
                  <img src="/img/tipsyscreenshot-design.jpg" alt="" height="200" width="300">
                  <img src="/img/tipsyscreenshot-design2.jpg" alt="" height="275" width="200">                
              </div>  
            </div>
          </div>
        </div>
        <div class="slide-info ">
          <div class="content-info">
            <div class="void v2 v22">
              <p>phase &mdash; <span>02</span></p>
                <h1>Design <br>Stage</h1>
                <p>
                    This is where the real fun begins. This stage of development is where I get my hands dirty with design(no code just yet!). The main tools I use for designing is adobe XD and illustrator. Being able to create and edit backgrounds and svgs makes the creative process in XD more streamlined.  
                </p>          
            </div>
            <div class="img-container-two">
              <img src="/img/tipsyscreenshot-development.jpg" alt="" height="225" width="375"> 
              <div class="img-container-two-c">
                  <img src="/img/tipsyscreenshot-design.jpg" alt="" height="200" width="300">
                  <img src="/img/tipsyscreenshot-design2.jpg" alt="" height="200" width="150">
              </div>  
            </div>
          </div>
        </div>
        <div class="slide-info">
          <div class="content-info">
            <div class="void v2 v22">
              <p>phase &mdash; <span>03</span></p>
                <h1>Development<br>Stage</h1>
                <p>
                    Now the coding begins! For Tipsy Bar my main focus was to build a Static site that can also handle form data through the use of our own RESTful routing. Once we have our form data stored on our MongoDb, we want to be able to display the form data to authenticated users on our own show page. 
                </p>          
            </div>
            <div class="img-container-two">
                <img src="/img/tipsyscreenshot-development.jpg" alt="" height="225" width="375"> 
                <div class="img-container-two-c">
                    <img src="/img/tipsyscreenshot-design.jpg" alt="" height="200" width="300">
                    <img src="/img/tipsyscreenshot-design2.jpg" alt="" height="200" width="150">
                </div>  
              </div>
          </div>
        </div>
        <div class="slide-info">
          <div class="content-info">
            <div class="void v2 v22">
              <p>phase &mdash; <span>04</span></p>
                <h1>Production/Deployment <br> Stage </h1>
                <p>
                    Once im comfortable with the funtionality of the site and everything is working properly, I start to ready my files for production. Using Webpack is crucial  for any project as it is able to package and distribute all of our files efficiently to be sent out to the browser. And once we have everything set up now  coms the moment of truth, now we are readdy too deploy our app!
                </p>          
            </div>
            <div class="img-container-two">
              <img src="/img/tipsyscreenshot-development.jpg" alt="" height="225" width="375"> 
              <div class="img-container-two-c">
                  <img src="/img/tipsyscreenshot-design.jpg" alt="" height="200" width="300">
                  <img src="/img/tipsyscreenshot-design2.jpg" alt="" height="275" width="200">                
              </div>  
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="butt" id="prev">    
          <img src="/svg/ionicons-arrow-dropleft.svg" alt="" height="75" width="75">
        </div>
        <div class="butt" id="next">
            <img src="/svg/ionicons-arrow-dropright.svg" alt="" height="75" width="75">
        </div>
      </div>
        </div>
      </div>
    
</section>

<div class="info-container">
  <div class="bio-square bs-4">
    <h2>Everything you need. <br> Nothing you don't.</h2>
    <p>
      Building the Tipsy Bars front end and back end made it more imperative that I only added the features we needed instead of  features that were non-essential and just take up processing power, so we can end up with a lightweight yet functional website.
    </p>
  </div>
  <div class="fullpage">
    <img  src="/img/tipsyscreenshot-development2.jpg" alt="" height="768" width="1024">
  </div>
  
</div>

<% include partials/contact %>
<% include partials/footer %>