<% include partials/header %>


<section class="pro-three">
  <% include partials/nav %>
  <div class="header-two dzul-head">
    <div class="void v2">
      <h1>Dzul Tailoring</h1>
        <p>
          Dzul Tailoring is a mobile tailoring service that primarily serves Los Angeles and the San Fernando  Valley. To build an effective web experience for customers and the business itself i have to make sure setting appointments and odring products is simple and effective.
        <div class="btn"><a href="#">Website coming soon!</a></div>
        
    </div> 
  </div>  
</section>
<section class="pro-info">
  <div class="pro-info-container">
    <div class="bio-square bs-2">
      <h2>An Appointment Setting App<br>In React</h2>
      <p>
          Still a work in progress, Dzul Tailorings main focus was to have an Application that allows customers to set and cancel available appointments while also functioning as a website listing services and products.React.js is perfect for this project because it makes the complex nature of the app easeier to implement and ensures our app renders fast enough to meet any kind of demand.
      </p>
        
    </div>
    <img src="/img/tipsyscreenshot-development.jpg" height="375" width="600">
  </div>
  <div class="bio-square bs-4" data-aos="fade-left">
    <h2>Check Back for Updates!</h2>
    <p>
     This project is still a work in progress.
  </div>
</section>




<% include partials/contactpage %>
<% include partials/footer %>