<% include partials/header %>
<div class="header">
<% include partials/nav %>
<div class="spacer"></div>
<div class="square">
  <h1><%= messages.name%></h1>
  <h2><%=messages.email%></h2>
  <p><%=messages.message%></p>
</div>
</div>
<% include partials/footer %>