<% include partials/header %>

<header class="header">
  <% include partials/nav %>
  <div class="centered">
    <div class="hero-box">
      <h1>Awesome!</h1>
      <p>We'll get in touch soon.</p>
    </div>
  </div>
</header>

<% include partials/footer %>