*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-family: 'Exo 2', sans-serif;
  font-size:16px;
  text-rendering: optimizeLegibility;
  background:rgb(59, 65, 75);
  font-weight:400;
}

body{
  max-width:1920px;
  margin:0 auto;
}


/*---buttons---*/
.btn{
  display: inline-block;
  background:#B3001B;
  padding:.50em 1em;
  margin-top:1.5em;
  border-radius:4px;
}

.proj{
  background:rgb(29, 29, 29);

}

.btn a{
  text-decoration: none;
  color: white;
}

/*----*/

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  height: 10vh;
  padding: 2em 0;
}

.navbar a{
  color:#4ADBC8;
  text-decoration: none;
  padding:0 2em;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background: white;
  margin:5px;
  transition: .3s ease;
}

.logo a{
  padding: 0;
}

.header{
  position:relative;
  height:100vh;
  background:#3F4B3B;  
}

.header-con{
  position:relative;
  height:100vh;
  background:#3F4B3B;  
}



.inc{
  height:100%;
  padding-bottom: 5em;
}



.pro-header{
  position: relative;
  height: 83vh;
  background: url(/img/silhouette-photography-of-houses.jpg);
  background-position-y: 94%;
  background-size: cover;
  width: 100%;
}

.hero-box{
  position:absolute;
  width:auto;
  padding:1em;
  text-align:center;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  display:inline-block;
  background: black;
  -webkit-box-shadow: 1.5px .5px 3px 3px rgba(19, 19, 19, 0.562);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1.5px .5px 3px 3px rgba(19, 19, 19, 0.562);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1.5px .5px 3px 3px rgba(0, 0, 0, 0.589);
}

.hero-box h1{
  color: aliceblue;  
  font-size: 1.5rem;
}

.pip{
  position:relative;
  background: url(/img/city-buildings-and-trees-during-golden-hour.jpg);
  background-position:center;
  background-size:cover;
  width:75%;
  height:75%;
  margin:0 auto;
  top:5%;
}

.pip2{
  position:relative;
  background: url(/img/city-buildings-and-trees-during-golden-hour.jpg);
  background-position:center;
  background-size:cover;
  width:100%;
  height:auto;
  margin:0 auto;
  top:0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
 }


.hero-box p{
  color: #4ADBC8;
  margin-top:.25em;
}

.title{
  max-width:1250px;
  margin: 3em auto;
  color:#4ADBC8;
  font-size:1.25rem;
}

.title.pr{
  color:rgb(231, 231, 231);
  font-size:2.5rem;
  margin: 0 auto;
}

.spacer{
  height:6em;
  width: 100%;
  background: transparent;
}


/*-----bio section----*/

.about-me{
  position:relative;
  display:flex;
  flex-direction:row;
  height:100%;
  width:100%;
}

.bio{
  max-width:60%;
  background:linear-gradient(#3F4B3B, rgb(59, 65, 75));
}

.bio-square{
  max-width:75%;
  margin: 10em auto 13em auto;
  
}

.bio-square h2{
  padding-bottom:.50em;
  color:#4ADBC8;

}

.bio-square p{
  color: #5CAB7D;
}

.specialty{
  margin-top:2em;
}

.picture{
  background:url(/img/black-iphone-7.jpg);
  background-position:center;
  background-size:cover;
  width:40%;
  height: auto;
}

.skill-section{
  background:rgb(59, 65, 75);
}

.skills{
  display:block;
  position: relative;
  background:url(/img/red-lights-in-line-on-black-surface.jpg);
  background-position:center;
  background-size:cover;
  height:40em;
  width:100%;  
  margin-top:10em;
}

.skills-menu{
  display:inline-block;
  background: black;
  height:auto;
  position:absolute;
  width: auto;
  padding:.75em 1em;
  top:-15%;
  left:15%;
}

.skills-menu h3{
  color:#4ADBC8;
  padding:.5em 0;
}

.skills-menu p{
  color:#4ADBC8;
  max-width:400px;
}
.list li{
  list-style:none;
  padding:.5em 0;
  color: white;
}

.list{
  padding-bottom:1.5em;
}

/*---projjects section---*/

.projects{
  display:flex;
  position:relative;
  height:auto;
  padding:5em 6em;
}

.oneq{
  background:url(/img/black-samsung-tablet-computer.jpg);
  background-position:center;
  background-size:cover;
  width:45%;
  height:auto;
  
  
}

.pro{
  width:55%;
}

/*---cnotact section----*/

.contact{
  margin: 7em auto;

}

.contact-box{
  max-width: 1250px;
  margin: 5em auto;
  position:relative;
  display:flex;
  border:2px solid #B3001B;
}

.contact-box .bio-square{
  padding:0 4em;
}

.contact-box .bio-square h2 {
  padding-bottom: .50em;
  color: #4ADBC8;
  text-align: center;
  font-size: 2em;
}

.contact-form{
  width:65%;
  display:flex;
  justify-content: center;
 
}

.contact-form form{
  position:relative;
  margin: 5em auto;
  display:inline-block;
  text-align: center;
}

.contact-form input{
  margin-right:1em;
  padding:0em;
  color: #5CAB7D;
  width: 70%;
  height: auto;
  border: none;  
  border-bottom:solid 1px #4ADBC8;
  margin: 2em auto;
  font-size: 1rem;
  background: none;
}

.contact-form textarea{
  margin-right:1em;
  padding:.5em;
  color: #5CAB7D;
  width: 70%;
  height: auto;
  border: none;  
  border-bottom:solid 1px #4ADBC8;
  margin: 2em auto;
  font-size: 1rem;
  background: none;
}


#submit{
  border:none;
  color:white;
  padding:1em;
  width: 40%;
  display: inline-block;
  background: #B3001B;
  padding: .50em 1em;
  margin-top: 1.5em;
  border-radius: 4px;
}



/*---slider--*//*---slider--*/
/*---slider--*//*---slider--*/
/*---slider--*//*---slider--*/
.slider-section{
  position:relative;
  height:100%;
  padding-top: 7em;
  
}


.text-slider-wrapper{
  width:1250px;
  height:70vh;
  margin: 0 auto;
  overflow:hidden;
}

.text-slider{  
  display:flex;
  position:relative;
  top:6%;
  width:100%;
  transition:all .5s ease;
}

.text-slide{
  display: flex;
  min-width:1250px;
  position: relative;
  z-index: 2;
}


.image-slider-wrapper{
  position: absolute;
  width:1250px;
  overflow:hidden;
  margin:0 auto;
  right: 0px;
  left: 0px;
}

.image-slider{
  
  display:flex;
  width:100%;
  transition:all .3s ease;
}

.image-slide{
  min-width:1250px;
  height: 19em;
  z-index: 1;
}

.heading-slider-wrapper{
  position: absolute;
  width:1250px;
  margin:0 auto;
  right: 0px;
  left: 0px;
  overflow:hidden;
}

.heading-slider{
  width:100%;
  
  display:flex;
  transition:all .6s ease;
}

.heading-slide{
  min-width:1250px;
  z-index: 3;
  padding:1em;
}

.heading-slide h1{
  color:#4ADBC8;
  font-size:2em;
}

.slide-control{
  z-index: 4;
  min-width:1000px;
  height: 70vh;
  position:absolute;
  justify-content: flex-end;
  right:15%;
  display:flex;
  margin:0 auto;
  align-items:center;
}

#prev{
  cursor: pointer;
}

#next{
  cursor: pointer;
}

button{
  color:whitesmoke;
  background:none;
  padding:15px;
  border-radius:50%;
  margin:.5em;
  font-size:15px;
}

.slide-container{
  width:35em;
  padding-right: 2em;
  position: relative;
  left:50%;
}

.slide-container p{
  color: #5CAB7D;
}

.one{
  background:black;
  background-size:cover;
  background-position:center;
  width:35em;
  height:100%;
}

.two{
  background:rgb(219, 219, 219);
  background-size:cover;
  background-position:center;
  width:35em;
  height:100%;
}

.three{
  background:rgb(216, 66, 66);
  background-size:cover;
  background-position:center;
  width:35em;
  height:100%;
}

/*--- portfolio ---*/
.reach-me{
  position:relative;
  height:100%;
  margin-bottom:5em;
}




.title p{
  color: #5CAB7D;
  max-width: 800px;
}

.portfolio-container{
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: 2.5em;
  display:flex;
  justify-content:space-evenly;
}

.gitbox{
  width: auto;
  height: auto; 
}

.gitbox h3{
  color: #4ADBC8;
  display: block;
}

.gitbox p{
  color: #5CAB7D;
  display: block;
}



.gitpic{
background-position:center;
background-size:cover;
width:100%;
height:14em;
margin:0 auto 1em auto;
}

.dribbox{
  width: auto;
  height: auto;
}

.dribbox h3{
  color: #4ADBC8;
  display: block;
}

.dribbox p{
  color: #5CAB7D;
  display: block;
}

.dribpic{
  background-size:cover;
  background-position:center;
  width:auto;
  height:14em;
  margin:0 auto 1em auto;
}


/*--footer---*/
footer{
  position: relative;
  height:10em;
  width:100%;
  background:black;
  padding: 2em 2em 0em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer{
  display: flex;
  justify-content: space-around;
}

footer p{
  display: flex;
  color: #4ADBC8;
}

.footer-links-one{
  display: flex;
  flex-direction:column;
}

.footer-links-one a{
  text-decoration: none;
  color: white;
}


/*---The slider---*/
.the-slider{
  position: relative;
}

.slider{
  position: relative;
  overflow: hidden;
  height:88vh;
  max-width:1250px;
  margin: 0 auto;
}

.slide{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity:0;
  transition:opacity 0.4s ease-in-out;
}

.slide.current{
  opacity: 1;
}

.slide .content{
  position: absolute;
  bottom: 125px;
  left: -450px;
  max-width: 450px;
  opacity: 0;
  background:black;
  color: aliceblue;
  padding:2em;
}



.slide.current .content{
  opacity:1;
  transform: translateX(450px);
  transition: all .6s ease-in-out 0.2s;
  z-index: 2;
}

.slide .content h2{
  margin-bottom:.25em;
}

.buttons{
  position: absolute;
  bottom: 4.5%;
  left: 5%;
  outline:none;
  display: flex;
}

#nex{
  cursor: pointer;
}
#pre{
  cursor: pointer;
}


.slide:first-child {
  background:url(/img/city-buildings-and-trees-during-golden-hour.jpg) no-repeat center center/cover;
}
.slide:nth-child(2) {
  background:url(/img/blur-business-coffee-commerce.jpg) no-repeat center center/cover;
}
.slide:nth-child(3) {
  background:url(/img/red-lights-in-line-on-black-surface.jpg) no-repeat center center/cover;
}

.slider-p{
  max-width:1250px;
  padding: 4em 1em;
  color:#4ADBC8;
  margin: 0 auto;
}

.slider-p p{
  color: #5CAB7D;
  max-width: 800px;
}


/*---new projet page---*/
.pro-three{
  position:relative;
  height: 100vh;
  width: 100%;
}

.header-two{
  position: relative;
  height: 85vh;
  width: 100%;
  background: url(/img/bar-bartender.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 12em;
}

.void.v2{
  padding: 2em 1em;
  text-align: left;
  left: 15%;
}

.void.v22{
  position: absolute;
  left: -800px;
  height: auto;
  text-align: left;
  padding: 1em;
  opacity: 0;
  
}

.pro-info{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
}

.pro-info-container{
  position:relative;
  padding: 8em 7em;
  display: flex;
  justify-content: space-around;
}

.pic-banner{
  position: relative;
  
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.respo{
  
  justify-content: space-between;
}

.bs-2{
  position: relative;
  max-width: 450px;
  margin: 0;
}

.bs-3{
  transform: translate(0, 145%);
  position: absolute;
  max-width: 650px;
  margin: 0;
  height: auto;
}

.pro-info img{
  position: relative;
  max-width: 600px;
  padding:.5em;
}

.fullpage img{
  position: relative;
  max-width: 100%;
  height: 90%;
  transform: translate(-50%, 0%);
  left: 50%;
}

.img-container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width:100%;  
}

.img-container-two{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: auto;
  right: -600px;
  opacity: 0;
  
}

.img-container-two-c{
  display: flex;
  flex-direction: row;
  padding-top:1em;  
  width: auto;
}

.img-container-two-c img{
  padding-right: 1em;
}

.full-page img{
  position: relative;
  max-width: 90%;
  height: 90%;
  margin: 0 auto;    
}

.info-container{
  position: relative;
  margin-bottom: 8em;
}

.info-container .pro-info-container{
  padding: 2em 7em;
}

.bs-4{
  max-width: 55%;
  margin:7em auto 3em auto;
}



.slider-info{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 42em;
}

.slide-info{
  padding: 3em 4em;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide-info.currant{
  opacity:1;
  
}

.slide-info.currant .img-container-two{
  opacity: 1;
  transform: translateX(-800px);
  transition: all 0.5s ease-in-out 0.3s ;
}

.slide-info.currant .void.v2.v22{
  opacity:1;
  transform: translateX(1000px);
  transition: all 0.5s ease-in-out 0.3s;
}

.slide-info:first-child{
  background: url(/img/city-buildings-and-trees-during-golden-hour.jpg);
  background-position: center;
  background-size: cover;
}

.slide-info:nth-child(2){
  background: url(/img/red-lights-in-line-on-black-surface.jpg);
  background-position: center;
  background-size: cover;
}

.slide-info:nth-child(3){
  background: url(/img/black-samsung-tablet-computer.jpg);
  background-position: center;
  background-size: cover;
}

.slide-info:nth-child(4){
  background: url(/img/everything-is-connected-neon-light-signage-1356300.jpg);
  background-position: center;
  background-size: cover;
}

.section-slider{
  height: 100%;
  width: 100%;
}

.content-info{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.butt{
  color: #4ADBC8;
}

/*---projecttipsy---*/

.projectos{
  height:100%;
  width: 100%;
  background: linear-gradient(#3F4B3B, rgb(59, 65, 75));
  position: relative;
  font-size: 1.25rem;
}

.project-wrapper{
  max-width:1250px;
  height:100%;
  display: flex;
  
  justify-content: space-between;
  margin:0 auto;
}


.pw-one{
  position: relative;
  display:flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  align-content:space-between;
}

.pw-two{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
}

.box{
  margin: 4.5em auto;
  width: 500px;
  
}
.box h1{
  font-size: 1.5rem;
  color:#4ADBC8;
}

.box-p{
  max-width: 375px;
  margin:0 auto;
  color: #5CAB7D;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;

}
.box-p-one{
  max-width: 375px;
  margin:0 auto;
  color: #5CAB7D;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;

}
.box-p-two{
  max-width: 375px;
  margin:0 auto;
  color: #4ADBC8;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}
.box-p-two h1{
  max-width: 375px;
  margin:0 auto;
  color: #4ADBC8;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.box-p-appear{
  opacity: 1;
  transform: translateY(0px);
}

.box-p h2{
  font-size:2rem;
  padding-bottom:.5em;
  color:#4ADBC8;
}
.box-p-one h2{
  font-size:2rem;
  padding-bottom:.5em;
  color:#4ADBC8;
}
.box-p-three h2{
  font-size:2rem;
  padding-bottom:.5em;
  color:#4ADBC8;
}

.box-two{
  margin:4em auto;
  width: 100%;
}


.window-one{
  background:url(/img/tipsymoscow.jpg);
  background-position-y: 100%;
  background-size: cover;
  width:100%;
  height:350px;
  margin: 3.5em 0;
}

.window-two{
  background:grey;
  background-position: center;
  background-size: cover;
  width:100%;
  height:350px;
  margin: 3em 0;
}

.window-three{
  background:url(/img/tipsyscreenshot-development.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  height:350px;
  margin: 3.5em 0;

}

.window-jfour{
  background:url(/img/city-buildings-and-trees-during-golden-hour.jpg);
  background-position: center;
  background-size: cover;
  width:500px;
  height:550px;  
}

.window-jfive{
  background:url(/img/tipsyparty.jpg);
  background-position: center;
  background-size: cover;
  width:500px;
  height:550px;   
}

.window-six{
  background:url(/img/tipsyscreenshot-design.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  height:350px;
  margin: 3em 0;
}

.window-jseven{
  background:url(/img/tipsyparty.jpg);
  background-position: center;
  background-size: cover;
  width:500px;
  height:550px;  
}

.window-eight{
  background:url(/img/tipsyscreenshot-development2.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  height:350px;
  margin: 3.5em 0;
}

.box span{
  font-size: 3rem;
  color: white;
}

/*----projectdzul---*/
.d1{
  background:url(/img/dzul-four.jpg);
  background-position-y: 100%;
  background-size: cover;
 
}

.d2{
  background:url(/img/dzul-three.jpg);
  background-position: center;
  background-size: cover;
  
}

.d3{
  background:url(/img/tipsyscreenshot-development.jpg);
  background-position: center;
  background-size: cover;
  
}

.d4{
  background:url(/img/dzul-five.jpg);
  background-position: center;
  background-size: cover;
   
}

.d5{
  background:url(/img/dzul-two.jpg);
  background-position: center;
  background-size: cover;
  width:500px;
  height:550px;   
}

.d6{
  background:url(/img/tipsyscreenshot-design.jpg);
  background-position: center;
  background-size: cover;
 
}

.d7{
  background:url(/img/dzul-eight.jpg);
  background-position: center;
  background-size: cover;
   
}
 
.d8{
  background:url(/img/tipsyscreenshot-development2.jpg);
  background-position: center;
  background-size: cover;
  
}
/*----contact---*/

.void{
  background: black;
  height:auto;
  position: relative;
  max-width: 375px;  
  padding-top: 2em ;
  text-align: center;
  top: 7%;
  display: inline-block;
  font-size: 1.25rem; 
  -webkit-box-shadow: 1px 3px 4px 5px rgba(19, 19, 19, 0.562);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 3px 4px 5px rgba(19, 19, 19, 0.562);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 2px 3px 4px rgba(19, 19, 19, 0.562);
}
.void2{
  background: black;
  display: inline-block;
  height:100%;
  position: relative;
  max-width: 400px;
  top: 28%;  
  padding: 3em 2em;
  text-align: left;
  font-size: 1.25rem;
  -webkit-box-shadow: 1px 3px 4px 5px rgba(19, 19, 19, 0.562);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 3px 4px 5px rgba(19, 19, 19, 0.562);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 2px 3px 4px rgba(19, 19, 19, 0.562);
}

.void h1  {
  color: #4ADBC8;
  padding-bottom: .5em;
}

.void p{
  color: #5CAB7D;
  margin-bottom: 1em;
}
.void2 h3  {
  color: #4ADBC8;
  padding-bottom: .5em;
}
.void2 h4  {
  color: #4ADBC8;
  padding-bottom: .5em;
}

.void2 p{
  color: #5CAB7D;
  margin-bottom: 1em;
}

.form{
  display: flex;
  flex-direction: row;
  width: 75%;
  height: auto;
  background: black;
  margin: 0 auto;
}

.form input{
  color: #5CAB7D;
  width: 100%;
  height: auto;
  border: none;
  background: black;
  border-bottom:solid 1px #4ADBC8;
  margin: 2em auto;
  font-size: 1rem;
}

.form textarea{
  background: black;
  color: #5CAB7D;
  width: 100%;
  height: auto;
  border: none;
  border-bottom:solid 1px #4ADBC8;
  margin: 2em auto;
  height: 4em;
  font-size: 1rem;
}

.or{
  position: absolute;
  margin: 0 auto;
  font-family:'Sedgwick Ave Display', cursive;
  font-size: 2rem;
  display: inline-block;
  left: 50%;
  top: 35%;
  color: #B3001B;
}

#by{
  font-family:'Sedgwick Ave Display', cursive;
  color: #B3001B;
}

/*--incoming messages ---*/

.square{
  width: 66%;
  background: rgb(168, 168, 168);
  margin:2em auto;
  border: 1px solid grey;
  -webkit-box-shadow: 1px 3px 4px 5px rgba(19, 19, 19, 0.562);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 3px 4px 5px rgba(19, 19, 19, 0.562);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 2px 3px 4px rgba(19, 19, 19, 0.562);
  padding: .5em;
}


/*--- register --*/

.void.register{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/*---media screen*/



@media only screen and (min-width:767px) and (max-width:1024px){

  body{
    max-width:1024px;
    margin:0 auto;
  }

  .logo{
    
  }

  .navbar{
    padding: 2em 0;
    height: auto;
    background-color: #3F4B3B;
  }

  .nav-links{
    position: absolute;
    height:auto;
    background:linear-gradient(#3F4B3B,rgb(59, 65, 75),rgb(59, 65, 75));
    z-index: 2;
    width: 100%;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    transform:translateY(-146%);
    transition: transform .5s ease-in-out;
  }

  .nav-links a{
    opacity: 0;
    font-size: 1.5em;
    padding: 1em 2em;
  }

  .nav-active{
    transform:translateY(0%);
  }

  .burger{
    display: block;
    z-index: 3;
    cursor: pointer;    
  }

  @keyframes navframes{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
    opacity:0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .pro-info-container {
    position: relative;
    padding: 2em 1em; 
    display: flex;
    justify-content: space-around;
  }

  
  .contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bio-square {
    max-width: 80%;
    margin: 5em auto 6em auto;
  }

  .contact-box{
    flex-direction: column;
    max-width: 600px;
  }

  .contact-box .bio-square {
    padding: 0;
    margin: 4em auto;
  }

  .contact-form form {
    margin: 0;
    margin-bottom: 4em;
  }

  .pro-three{
    position:relative;
    height: 100vh;
    width: 100%;
  }

  .header-two{
    position: relative;
    height: 85vh;
    width: 100%;
    background: url(/img/bar-bartender.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 12em;
  }

  .void.v2{
    padding: 2em 1em;
    text-align: left;
    left: 0%;
  }

  .void.v22{
    position: relative;
    left: -1000px;
    height: auto;
    text-align: left;
    padding: 1em;
    opacity: 0;
    font-size: 1rem;
  }

  .pro-info{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  .pro-info-container{
    position:relative;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-bottom: 4em;
  }

  .pic-banner{
    position: relative;
    
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .respo{
    flex-direction: column;
  }

  .bs-2{
    position: relative;
    max-width: 450px;
    margin: 0;
  }

  .bs-3{
    transform: translate(0, 0%);
    position: relative;
    max-width: 650px;
    margin: 0;
    height: auto;
  }

  .pro-info img{
    position: relative;
    max-width: 100%;
    height: 90%;
    padding:.5em;
    margin-bottom: 1.5em;
  }

  .img-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width:100%;  
  }

  .img-container-two{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    right: -1015px;
    opacity: 0;
    width: 59%;
    margin-top: 1em;
  }

  .img-container-two-c{
    display: flex;
    flex-direction: row;
    padding-top:1em;  
    width: auto;
  }

  .img-container-two-c img{
    padding-right: 1em;
  }

  .img-container-two img{
    margin-bottom: 0;
  }

  .info-container{
    position: relative;
    margin-bottom: 8em;
    
  }

  .info-container .pro-info-container{
    padding: 2em 7em;
  }

  .bs-4{
    max-width: 75%;
    margin:3em auto ;
  }

  .fullpage img {
    position: relative;
    max-width: 90%;
    height: 90%;
  }

 /*------------projects page----------*/

 .slider-info {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50em;
  }

  .slide-info {
    padding: 3em 2em;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }

  .buttons {
    position: absolute;
    bottom: 0%;
    outline: none;
    display: flex;
  }
}


@media only screen and (min-width:360px) and (max-width:480px){
  
  body{
    max-width:480px;
    margin:0 auto;
  }

  .logo{
    
  }

  .navbar{
    padding: 2em 0;
    height: auto;
    background: #3F4B3B;
  }

  .nav-links{
    position: absolute;
    height:auto;
    background:linear-gradient(#3F4B3B,rgb(59, 65, 75),rgb(59, 65, 75));
    z-index: 2;
    width: 100%;
    top: 12vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    transform:translateY(-146%);
    transition: transform .5s ease-in-out;
  }

  .nav-links a{
    opacity: 0;
    font-size: 1.5em;
    padding: 1em 2em;
  }

  .nav-active{
    transform:translateY(0%);
  }

  .burger{
    display: block;
    z-index: 3;
    cursor: pointer;    
  }

  @keyframes navframes{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
    opacity:0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .pip{
    top: 0;
  }

  .title {
    margin: 3em 1em;    
  } 

  .about-me{
    position:relative;
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
  }

  .bio{
    max-width:100%;
    background:linear-gradient(#3F4B3B, rgb(59, 65, 75));
  }

  .bio-square {
    max-width: 75%;
    margin: 5em auto 5em auto;
  }

  .picture{
    background:url(/img/black-iphone-7.jpg);
    background-position:center;
    background-size:cover;
    width:100%;
    height: auto;
  }

  .skills-menu {
    display: inline-block;
    background: black;
    height: auto;
    position: absolute;
    width: 90%;
    padding: .75em 1em;
    top: -15%;
    left: 0%;
    margin: 0 auto;
}

  .slide .content {
    width: 85%;
  }

  .portfolio-container{
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 2.5em;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    
  }

  .gitbox{
    text-align: center;
    height: auto; 
    padding-bottom: 4.5em;
  }

  .dribbox{
    text-align: center;
    height: auto;
  }

  .gitbox img{
    width:35%;
    color: #B3001B;
  }
  
  .dribbox img{
    width:35%;
  }

  .port-container{
    max-width: 480px;
    padding: 1em;
    display: block;
  }

  .proj {
    background: rgb(29, 29, 29);
    margin-top: 0;
  }
  
  .contact{

  }

  .contact-box {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #B3001B;
    max-width: 380px;
  } 

  .contact-box .bio-square{
    padding:0;
    margin: 2em auto;
  }

  .contact-form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .contact-form input {
    margin-right: 1em;
    padding: 0em;
    color: #5CAB7D;
    width: 100%;
    height: auto;
    border: none;
    border-bottom: solid 1px #4ADBC8;
    margin: 2em auto;
    font-size: 1rem;
    background: none;
  }
  
  .contact-form textarea {
    width: 100%;  
  }

  .contact-form form {
    margin: 0;
    margin-bottom: 2em;
    
  }

  .pip2{
    position:relative;
    background: url(/img/city-buildings-and-trees-during-golden-hour.jpg);
    background-position:center;
    background-size:cover;
    width:100%;
    height:100%;
    margin:0 auto;
    top:0%;
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
    padding: 3em 0;
  }

  .void2 {
    background: black;
    display: inline-block;
    height: 100%;
    position: relative;
    max-width: 400px;
    top: 28%;
    padding: 3em 2em;
    text-align: left;
    font-size: 1.25rem;
    -webkit-box-shadow: 1px 3px 4px 5px rgba(19, 19, 19, 0.562);
    -moz-box-shadow: 1px 3px 4px 5px rgba(19, 19, 19, 0.562);
    box-shadow: 1px 2px 3px 4px rgba(19, 19, 19, 0.562);
    margin-top: 3em;
  }

  .header-con{
    position:relative;
    height:auto;
    background:#3F4B3B;  
  }

  /*------------projects page----------*/


  .pro-three{
    position:relative;
    height: 100vh;
    width: 100%;
  }

  .header-two{
    position: relative;
    height: 85vh;
    width: 100%;
    background: url(/img/bar-bartender.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 12em;
  }

  .void.v2{
    padding: 2em 1em;
    text-align: left;
    left: 0%;
  }

  .void.v22{
    position: relative;
    left: -1000px;
    height: auto;
    text-align: left;
    padding: 1em;
    opacity: 0;
    font-size: 1rem;
  }

  .pro-info{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
  }

  .pro-info-container{
    position:relative;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-bottom: 4em;
  }

  .pic-banner{
    position: relative;
    
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .respo{
    flex-direction: column;
  }

  .bs-2{
    position: relative;
    max-width: 450px;
    margin: 0;
  }

  .bs-3{
    transform: translate(0, 0%);
    position: relative;
    max-width: 650px;
    margin: 0;
    height: auto;
  }

  .pro-info img{
    position: relative;
    max-width: 100%;
    height: 90%;
    padding:.5em;
    margin-bottom: 1.5em;
  }

  .img-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width:100%;  
  }

  .img-container-two{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    right: -796px;
    opacity: 0;
    width: 57%;
    margin-top: 1em;
  }

  .img-container-two-c{
    display: flex;
    flex-direction: row;
    padding-top:1em;  
    width: auto;
  }

  .img-container-two-c img{
    padding-right: 1em;
  }

  .img-container-two img{
    margin-bottom: 0;
  }

  .info-container{
    position: relative;
    margin-bottom: 8em;
   
  }

  .info-container .pro-info-container{
    padding: 2em 7em;
  }

  .bs-4{
    max-width: 100%;
    margin:3em 1em ;
  }

  .full-screen-img{
    position: relative;
    max-width: 1100px;
    height: 275px;
    margin: 0 auto;
    background: url(/img/tipsyscreenshot-development2.jpg);
    background-position: center;
    background-size: cover;
  }

 /*------------projects page----------*/

  .slider-info {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 46em;
  }
  .slide-info {
    padding: 3em 2em;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }

  .buttons {
    position: absolute;
    bottom: 0%;
    right: 10%;
    left:0%;
    outline: none;
    display: flex;
  }

  .fullpage img{
    position: relative;
    max-width: 90%;
    height: 90%;
        
  }

} 

