*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-family: 'Exo 2', sans-serif;
  font-size:16px;
  text-rendering: optimizeLegibility;
  background:rgb(59, 65, 75);
  font-weight:400;
}

body{
  max-width:1920px;
  margin:0 auto;
}


/*---buttons---*/
.btn{
  display: inline-block;
  background:#B3001B;
  padding:.50em 1em;
  margin-top:1.5em;
  border-radius:4px;
}

.proj{
  background:rgb(29, 29, 29);
}

.btn a{
  text-decoration: none;
  color: white;
}

/*----*/

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  padding:1.5em 2em;
  
}

.navbar a{
  color:#5CAB7D;
  text-decoration: none;
  padding:0 2em;
}

.logo{
  color: #B3001B;
  font-family:'Sedgwick Ave Display', cursive;
  font-size:1.5rem;
}

.header{
  position:relative;
  height:100vh;
  background:#3F4B3B;
}

.pro-header{
  position: relative;
  height: 83vh;
  background: url(/img/silhouette-photography-of-houses.jpg);
  background-position-y: 94%;
  background-size: cover;
  width: 100%;
}

.hero-box{
  position:absolute;
  width:auto;
  padding:1em;
  text-align:center;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  display:inline-block;
  background: black;
}

.hero-box h1{
  color: aliceblue;  
  font-size: 1.5rem;
}

.pip{
  position:relative;
  background: url(/img/city-buildings-and-trees-during-golden-hour.jpg);
  background-position:center;
  background-size:cover;
  width:75%;
  height:75%;
  margin:0 auto;
  top:5%;
}

.hero-box p{
  color: #4ADBC8;
  margin-top:.25em;
}

.spacer{
  height:6em;
  width: 100%;
  background: transparent;
}


/*-----bio section----*/

.about-me{
  position:relative;
  display:flex;
  flex-direction:row;
  height:100%;
  width:100%;
}

.bio{
  max-width:60%;
  background:linear-gradient(#3F4B3B, rgb(59, 65, 75));
}

.bio-square{
  max-width:75%;
  margin: 10em auto 13em auto;
  
}

.bio-square h2{
  padding-bottom:.50em;
  color:#4ADBC8;

}

.bio-square p{
  color: #5CAB7D;
}

.specialty{
  margin-top:2em;
}

.picture{
  background:url(/img/black-iphone-7.jpg);
  background-position:center;
  background-size:cover;
  width:40%;
  height: auto;
}

.skill-section{
  background:rgb(59, 65, 75);
}

.skills{
  display:block;
  position: relative;
  background:url(/img/red-lights-in-line-on-black-surface.jpg);
  background-position:center;
  background-size:cover;
  height:40em;
  width:100%;
  
  margin-top:10em;
}

.skills-menu{
  display:inline-block;
  background: black;
  height:auto;
  position:absolute;
  width:25em;
  padding:.75em 1em;
  top:-15%;
  left:15%;
}

.skills-menu h3{
  color:#4ADBC8;
  padding:.5em 0;
}

.skills-menu p{
  color:#4ADBC8;
  
}
.list li{
  list-style:none;
  padding:.5em 0;
  color: white;
}

.list{
  padding-bottom:1.5em;
}

/*---projjects section---*/

.projects{
  display:flex;
  position:relative;
  height:auto;
  padding:5em 6em;
}

.oneq{
  background:url(/img/black-samsung-tablet-computer.jpg);
  background-position:center;
  background-size:cover;
  width:45%;
  height:auto;
  
  
}

.pro{
  width:55%;
}

/*---cnotact section----*/

.contact{
  padding:5em 8em;
}

.contact-box{
  position:relative;
  display:flex;
  border:2px solid #B3001B;
}

.contact-box .bio-square{
  padding:0 4em;
}

.contact-form{
  width:65%;
  display:flex;
  justify-content: center;
 
}

.contact-form form{
  position:relative;
  margin: 10em auto 13em auto;
  display:inline-block;
}

.contact-form input{
  margin-right:1em;
  padding:.5em;
}

#submit{
  border:none;
  color:white;
  padding:1em;
}


/*---slider--*//*---slider--*/
/*---slider--*//*---slider--*/
/*---slider--*//*---slider--*/
.slider-section{
  position:relative;
  height:100%;
  padding-top: 7em;
  
}


.text-slider-wrapper{
  width:1250px;
  height:70vh;
  margin: 0 auto;
  overflow:hidden;
}

.text-slider{
  
  display:flex;
  position:relative;
  top:6%;
  width:100%;
  transition:all .5s ease;
}

.text-slide{
  display: flex;
  min-width:1250px;
  position: relative;
  z-index: 2;
}


.image-slider-wrapper{
  position: absolute;
  width:1250px;
  overflow:hidden;
  margin:0 auto;
  right: 0px;
  left: 0px;
}

.image-slider{
  
  display:flex;
  width:100%;
  transition:all .3s ease;
}

.image-slide{
  min-width:1250px;
  height: 19em;
  z-index: 1;
}

.heading-slider-wrapper{
  position: absolute;
  width:1250px;
  margin:0 auto;
  right: 0px;
  left: 0px;
  overflow:hidden;
}

.heading-slider{
  width:100%;
  
  display:flex;
  transition:all .6s ease;
}

.heading-slide{
  min-width:1250px;
  z-index: 3;
  padding:1em;
}

.heading-slide h1{
  color:#4ADBC8;
  font-size:2em;
}

.slide-control{
  z-index: 4;
  min-width:1000px;
  height: 70vh;
  position:absolute;
  justify-content: flex-end;
  right:15%;
  display:flex;
  margin:0 auto;
  align-items:center;
}

#prev{
  cursor: pointer;
}

#next{
  cursor: pointer;
}

button{
  color:whitesmoke;
  background:none;
  padding:15px;
  border-radius:50%;
  margin:.5em;
  font-size:15px;
}
.slide-container{
  width:35em;
  padding-right: 2em;
  position: relative;
  left:50%;
}

.slide-container p{
  color: #5CAB7D;
}

.one{
  background:black;
  background-size:cover;
  background-position:center;
  width:35em;
  height:100%;
}

.two{
  background:rgb(219, 219, 219);
  background-size:cover;
  background-position:center;
  width:35em;
  height:100%;
}

.three{
  background:rgb(216, 66, 66);
  background-size:cover;
  background-position:center;
  width:35em;
  height:100%;
}

/*--- portfolio ---*/
.reach-me{
  position:relative;
  height:100%;
  margin-bottom:5em;
}


.title{
  max-width:1250px;
  margin: 2em auto;
  color:#4ADBC8;
  font-size:1.25rem;
}

.title p{
  color: #5CAB7D;
  max-width: 800px;
}

.portfolio-container{
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: 2.5em;
  display:flex;
  justify-content:space-evenly;
}

.gitbox{
  width:450px;
  height: auto; 
}

.gitbox h3{
  color: #4ADBC8;
}

.gitbox p{
  color: #5CAB7D;
}

.gitpic{
background:url(/img/business-computer-connection-contemporary.jpg);
background-position:center;
background-size:cover;
width:100%;
height:14em;
margin:0 auto 1em auto;
}

.dribbox{
  height: auto;
  width:450px;
}

.dribbox h3{
  color: #4ADBC8;
}

.dribbox p{
  color: #5CAB7D;
}

.dribpic{
  background: url(/img/city-buildings-and-trees-during-golden-hour.jpg);
  background-size:cover;
  background-position:center;
  width:auto;
  height:14em;
  margin:0 auto 1em auto;
}


/*--footer---*/
footer{
  position: relative;
  height: 9em;
  width:100%;
  background:linear-gradient(rgb(59, 65, 75),#3F4B3B);
  padding: 2em 2em 0em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer{
  display: flex;
  justify-content: space-around;
}

footer p{
  display: flex;
  color: #4ADBC8;
}

.footer-links-one{
  display: flex;
  flex-direction:column;
}

.footer-links-one a{
  text-decoration: none;
  color: white;
}


/*---slider two---*/
.the-slider{
  position: relative;
}

.slider{
  position: relative;
  overflow: hidden;
  height:88vh;
  width:1250px;
  margin: 0 auto;
}

.slide{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity:0;
  transition:opacity 0.4s ease-in-out;
}

.slide.current{
  opacity: 1;
}

.slide .content{
  position: absolute;
  bottom: 125px;
  left: -450px;
  width: 450px;
  opacity: 0;
  background:black;
  color: aliceblue;
  padding:2em;
}

.slide.current .content{
  opacity:1;
  transform: translateX(450px);
  transition: all .6s ease-in-out 0.2s;
}

.slide .content h2{
  margin-bottom:.25em;
}

.buttons{
  position: absolute;
  bottom: 4.5%;
  left: 10%;
  outline:none;
}

button{
  outline: none;
}

.slide:first-child {
  background:url(/img/city-buildings-and-trees-during-golden-hour.jpg) no-repeat center center/cover;
}
.slide:nth-child(2) {
  background:url(/img/blur-business-coffee-commerce.jpg) no-repeat center center/cover;
}
.slide:nth-child(3) {
  background:url(/img/red-lights-in-line-on-black-surface.jpg) no-repeat center center/cover;
}

.slider-p{
  max-width:1250px;
  margin: 2em auto;
  color:#4ADBC8;
  
}

.slider-p p{
  color: #5CAB7D;
  max-width: 800px;
}

/*---projectos---*/

.projectos{
  height:100%;
  width: 100%;
  background: linear-gradient(#3F4B3B, rgb(59, 65, 75));
  position: relative;
}

.project-wrapper{
  max-width:1250px;
  height:100%;
  display: flex;
  
  justify-content: space-between;
  margin:0 auto;
}


.pw-one{
  position: relative;
  display:flex;
  flex-direction: column;
  width: 525px;
  height: auto;
  align-content:space-between;
}

.pw-two{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 525px;
  height: auto;
}

.box{
  margin: 5em auto;
  width: 525px;
}

.box-p-intro{
  max-width: 450px;
}

.box-p{
  max-width: 375px;
  margin:0 auto;
}

.box-p h2{
  font-size:2rem;
  padding-bottom:.5em;
}

.box-two{
  margin:4em auto;
  width: 100%;
}

.window-one{
  height:10em;
  width:100%;
  position: relative;
}


.window-pic{
  background:url(/img/everything-is-connected-neon-light-signage-1356300.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  height:350px;
  margin: 3.5em 0;

}

.window-pic-2{
  background:url(/img/everything-is-connected-neon-light-signage-1356300.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  height:350px;

}

.jumbo-pic{
  background:url(/img/city-buildings-and-trees-during-golden-hour.jpg);
  background-position: center;
  background-size: cover;
  width:500px;
  height:550px;  
}